{% extends "carwashs/layout.html" %}

<!DOCTYPE html>
<html>
<body>

{% block content %}
<style>
p{
  font-weight: bold;
}
</style>
<div style="background-image: url('https://www.zipscarwash.com/sites/default/files/2019-08/Adds%2015%20stores.jpg');">
<h1>Little story about our company :) </h1>
    <p> Zips Car Wash bought Boomerang Car Wash in August, which made it the third-largest carwash chain in the nation, according to Professional Carwashing & Detailing, the article continued.

Overman said that while the rapid expansion has been stressful at times, it has taught him the value of his employees, which number over 400 and are, he claimed, the key to Zips’ continued success, the article stated.

“Team members are vital,” he said.

Zips Car Wash is still in the process of rebranding its new locations, changing out the signage region by region, the article noted; in addition, it is also in the process of expanding its unlimited monthly “wash club,” which has prices ranging from $14.95 to $29.95.

Washes take approximately three minutes, the article added, and the company offers free, high-powered vacuums.

When adding together Zips’ previous carwashes plus its 2016 acquisitions, the total comes to 60 carwashes across Arkansas, Florida, Kansas, Louisiana, Mississippi, North Carolina, Oklahoma, Tennessee and Texas, the article stated.

Citing PC&D’s Top 50 list, the article continued, it has now pulled ahead of Wash Depot of Malden, Massachusetts, at 51 carwashes, but would have to open nearly 20 more washes to overtake Autobell Car Wash of Charlotte, North Carolina, for the number two slot.

“We should be the second largest by the middle of the year,” Overman said. “We expect to wash seven million cars in 2017.”

Zips Car Wash was founded in 2004 in Jonesboro, Arkansas, the article noted, but growth was slow until Overman found a lender to back his aspiring expansion plans, given that a single carwash can be valued anywhere from $3 million to $5 million, Overman said.

Overman said he expects to add 30 to 35 more carwashes in 2017, the article added.

According to an IBISWorld report, the article stated, carwashing and auto detailing in the United States achieved an estimated total annual revenue of $10.2 billion in 2016, with profit of $1.89 billion.

Nearly 50 percent of operations conveyor carwashes, as Zips is, the article noted from the IBISWorld report; 18 percent are auto detailers, 11.4 percent in-bay automatic carwashes, 10.8 percent self-service bays and 10.4 percent hand-washing businesses.

The IBISworld report also estimated an average 3.1 percent annual revenue gain over the past five years, the article continued, and a 1.6 percent expected gain over the next five.

Related: Carwash industry growth and emerging competition signals profits for existing owners

The International Carwash Association estimates that there are 80,000 professional carwashes in the United States alone, the article noted, with roughly the same number in Europe; in addition, over two billion cars visit carwashes annually in the U.S.

Overman said that it is those who choose to driveway wash that are his main competitors, the article stated, and that carwashes tend to use 20 percent less water than driveway washers, in addition to using biodegradable soaps and reclaiming dirty water.

“It’s our job to educate the consumer,” Overman said.

Overman said that Zips Car Wash isn’t just selling a service, and that there’s more to a clean car than its shine. “It’s almost a mood lifter,” he said of a clean car. “I think it raises people’s spirits.”Zips Car Wash bought Boomerang Car Wash in August, which made it the third-largest carwash chain in the nation, according to Professional Carwashing & Detailing, the article continued.

Overman said that while the rapid expansion has been stressful at times, it has taught him the value of his employees, which number over 400 and are, he claimed, the key to Zips’ continued success, the article stated.

“Team members are vital,” he said.

Zips Car Wash is still in the process of rebranding its new locations, changing out the signage region by region, the article noted; in addition, it is also in the process of expanding its unlimited monthly “wash club,” which has prices ranging from $14.95 to $29.95.

Washes take approximately three minutes, the article added, and the company offers free, high-powered vacuums.

When adding together Zips’ previous carwashes plus its 2016 acquisitions, the total comes to 60 carwashes across Arkansas, Florida, Kansas, Louisiana, Mississippi, North Carolina, Oklahoma, Tennessee and Texas, the article stated.

Citing PC&D’s Top 50 list, the article continued, it has now pulled ahead of Wash Depot of Malden, Massachusetts, at 51 carwashes, but would have to open nearly 20 more washes to overtake Autobell Car Wash of Charlotte, North Carolina, for the number two slot.

“We should be the second largest by the middle of the year,” Overman said. “We expect to wash seven million cars in 2017.”

Zips Car Wash was founded in 2004 in Jonesboro, Arkansas, the article noted, but growth was slow until Overman found a lender to back his aspiring expansion plans, given that a single carwash can be valued anywhere from $3 million to $5 million, Overman said.

Overman said he expects to add 30 to 35 more carwashes in 2017, the article added.

According to an IBISWorld report, the article stated, carwashing and auto detailing in the United States achieved an estimated total annual revenue of $10.2 billion in 2016, with profit of $1.89 billion.

Nearly 50 percent of operations conveyor carwashes, as Zips is, the article noted from the IBISWorld report; 18 percent are auto detailers, 11.4 percent in-bay automatic carwashes, 10.8 percent self-service bays and 10.4 percent hand-washing businesses.

The IBISworld report also estimated an average 3.1 percent annual revenue gain over the past five years, the article continued, and a 1.6 percent expected gain over the next five.

Related: Carwash industry growth and emerging competition signals profits for existing owners

The International Carwash Association estimates that there are 80,000 professional carwashes in the United States alone, the article noted, with roughly the same number in Europe; in addition, over two billion cars visit carwashes annually in the U.S.

Overman said that it is those who choose to driveway wash that are his main competitors, the article stated, and that carwashes tend to use 20 percent less water than driveway washers, in addition to using biodegradable soaps and reclaiming dirty water.

“It’s our job to educate the consumer,” Overman said.

Overman said that Zips Car Wash isn’t just selling a service, and that there’s more to a clean car than its shine. “It’s almost a mood lifter,” he said of a clean car. “I think it raises people’s spirits.”Zips Car Wash bought Boomerang Car Wash in August, which made it the third-largest carwash chain in the nation, according to Professional Carwashing & Detailing, the article continued.

Overman said that while the rapid expansion has been stressful at times, it has taught him the value of his employees, which number over 400 and are, he claimed, the key to Zips’ continued success, the article stated.

“Team members are vital,” he said.

Zips Car Wash is still in the process of rebranding its new locations, changing out the signage region by region, the article noted; in addition, it is also in the process of expanding its unlimited monthly “wash club,” which has prices ranging from $14.95 to $29.95.

Washes take approximately three minutes, the article added, and the company offers free, high-powered vacuums.

When adding together Zips’ previous carwashes plus its 2016 acquisitions, the total comes to 60 carwashes across Arkansas, Florida, Kansas, Louisiana, Mississippi, North Carolina, Oklahoma, Tennessee and Texas, the article stated.

Citing PC&D’s Top 50 list, the article continued, it has now pulled ahead of Wash Depot of Malden, Massachusetts, at 51 carwashes, but would have to open nearly 20 more washes to overtake Autobell Car Wash of Charlotte, North Carolina, for the number two slot.

“We should be the second largest by the middle of the year,” Overman said. “We expect to wash seven million cars in 2017.”

Zips Car Wash was founded in 2004 in Jonesboro, Arkansas, the article noted, but growth was slow until Overman found a lender to back his aspiring expansion plans, given that a single carwash can be valued anywhere from $3 million to $5 million, Overman said.

Overman said he expects to add 30 to 35 more carwashes in 2017, the article added.

According to an IBISWorld report, the article stated, carwashing and auto detailing in the United States achieved an estimated total annual revenue of $10.2 billion in 2016, with profit of $1.89 billion.

Nearly 50 percent of operations conveyor carwashes, as Zips is, the article noted from the IBISWorld report; 18 percent are auto detailers, 11.4 percent in-bay automatic carwashes, 10.8 percent self-service bays and 10.4 percent hand-washing businesses.

The IBISworld report also estimated an average 3.1 percent annual revenue gain over the past five years, the article continued, and a 1.6 percent expected gain over the next five.

Related: Carwash industry growth and emerging competition signals profits for existing owners

The International Carwash Association estimates that there are 80,000 professional carwashes in the United States alone, the article noted, with roughly the same number in Europe; in addition, over two billion cars visit carwashes annually in the U.S.

Overman said that it is those who choose to driveway wash that are his main competitors, the article stated, and that carwashes tend to use 20 percent less water than driveway washers, in addition to using biodegradable soaps and reclaiming dirty water.

“It’s our job to educate the consumer,” Overman said.

Overman said that Zips Car Wash isn’t just selling a service, and that there’s more to a clean car than its shine. “It’s almost a mood lifter,” he said of a clean car. “I think it raises people’s spirits.”    </p>
</body>
</html>
{% endblock %}
