{% extends "carwashs/layout.html" %}

{% block content %}
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

    <div class="container">
        <div class="row">
            <form class="col s12" method="get">
                <div class="row">
                    <div class="col s12">
                        Search
                        <div class="input-field inline">
                            <input type="text" name="q" >
                        </div>
                        <button type="submit">SEARCH</button>
                    </div>
                </div>
            </form>
        </div>

        {% for washer in washers %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}

        <div class="col s12 m3 l3">
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ washer.image.url }}">
                        </div>
                        <div class="card-content">
                            <p> {{ washer.first_name }}</p>
                            <p>I have washed {{ washer.washed_count }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'wash:washer-detail' washer.pk %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% if forloop.counter|divisibleby:4 or forloop.last %}
            </div>
        {% endif %}

        {% endfor %}
    </div>
{% endblock %}
